/*header*/
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}





.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*Shared style*/
.secondary-bg {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.btn-primary {
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px;
    border-radius: 5px;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-center {
    text-align: center;
}



/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 200px;
}

.nav-title {
    font: weight 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    gap: 27px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;

}

/*banner styles*/

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 585px;
}

.bannner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;
    white-space: nowrap;
}

.banner-description {
    font-size: 18px;
}

.banner-images-picture {
    width: 584px;
    height: 600px;
}


a:hover {
    color: blue;
}

/*About Styles*/
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}


/*Main Styles*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-items {
    display: flex;
    justify-content: space-between;
}

.item-description {
    font-weight: 600;
}

/*Skills Section*/
.skills-container {
    display: flex;
    gap: 24px;
}

.skills {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(255, 255, 255, 1);
    border-radius: 5px;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/*Resume Section Style*/
.resume-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.section-title h3 {
    text-align: center;

}

.resume-download-cv {
    margin-top: 50px;
}

/*Footer Style*/
footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    margin-top: 81px;
}

.section-title {
    text-align: left;
    margin-left: 0;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: none;
}

form input[type="submit"] {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    padding: 18px;
    border: none;
}

/*Responsive Media Query*/
.hide {
    display: none;
}

@media screen and (max-width: 576px) {
    .skills-container {
        flex-direction: column;
    }
}